@import "../../variables";

.swiper {
  :global(.swiper-wrapper) {
    width: 100%;
  }

  :global(.swiper-pagination) {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 3vw;
    width: 100px;
    height: auto;
    left: 7.8vw;
    margin: 0;
  }

  :global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #efefef;
  }

  :global(.swiper-pagination-bullet-active) {
    border: 2px solid $colorBlack;
  }

  &__slide {
    display: flex;

    * {
      flex: 1;
    }
  }
}

.specialOffer {
  display: flex;
  flex-direction: column;
  padding-left: 7.8vw;
  justify-content: flex-start;
  align-items: flex-start;

  &__header {
    font-size: calc(100vw / 34);
    margin: 5.5vw 0 0 0;
    width: 75%;

    &Highlight {
      color: $colorWhite;
      background-color: $colorBlack;
    }
  }

  &__description {
    font-size: 20px;
    width: 406px;
    margin: 1.5vw 0 1.9vw;

    &Highlight {
      font-weight: 600;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 49px;
    line-height: 50px;
    background-color: $colorHighlight;
    color: $colorWhite;
    border: 0;
    border-radius: 10px;
    margin-bottom: 6.5vw;
    transition: background-color 300ms linear;

    &:hover{
      background-color: #00ffff;
    }
  }
}

.hero {
  height: auto;
  background-image: url("../../../public/Bitmapv.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../../public/Bitmap@2x.png");
  }
}

@media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
  .swiper {
    &__slide {
      flex-direction: column-reverse;
    }
  }

  .specialOffer {
    &__header {
      width: 400px;
    }
  }

  .hero {
    background-size: cover;
    padding-top: 400px;
  }
}

@media screen and (min-width: $minMobile) and (max-width: $maxMobile) {
  .swiper {
    :global(.swiper-pagination) {
      bottom: 100vw;
    }

    &__slide {
      flex-direction: column-reverse;
    }
  }

  .specialOffer {
    padding: 0 0 0 3vw;

    &__header {
      font-size: calc(100vw / 12);
      width: 90vw;
      margin: 5vw 0 3vw;
    }

    &__description {
      font-size: calc(100vw / 22);
      width: 90vw;
      margin: 1.5vw 0 3vw;
    }
  }

  .hero {
    background-size: cover;
    background-position: center;
    padding-top: 100vw;
  }
}
